SPEEDTEST_URL=https://speedtest.docker.local.example
SPEEDTEST_VPN_URL=http://gluetun
SPEEDTEST_VPN_PUBLIC_URL=https://speedtest-vpn.docker.local.example
GLUETUN_CONTROL_URL=http://gluetun:8000
SPEEDTEST_TRACKER_API_TOKEN=change-me
DOCKER_DOMAIN=docker.local.example
LAN_DOMAIN=local.example
WEATHER_LOCATION=Varna, Bulgaria
