SPEEDTEST_URL=https://speedtest.host-5.example.invalid.example
SPEEDTEST_VPN_URL=http://gluetun
SPEEDTEST_VPN_PUBLIC_URL=https://speedtest-vpn.host-5.example.invalid.example
GLUETUN_CONTROL_URL=http://gluetun:8000
SPEEDTEST_TRACKER_API_TOKEN=change-me
DOCKER_DOMAIN=host-5.example.invalid.example
LAN_DOMAIN=local.example
WEATHER_LOCATION=Varna, Bulgaria
